body{
  display: flex;
  background-color: #F5F9FF;
  color: #002A6D;
 align-items: center;
 justify-content: center;
 font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container{
  max-width: 700px;
  width: 90%;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0,0, 0.1);
}


.login-form{
  display: flex;
  flex-direction: column;
}

.login-form h2{
  margin-bottom: 15px;
}

.login-form p{
  margin-bottom: 30px;
  line-height: 1.5;
}
.form-group{
  display:flex;
flex-direction:column;
margin-bottom: 20px;
  gap: 8px;
}

label{
  font-weight: 600;
}

input[type="password"],
input[type="email"]
{
  width: 100%;
    padding: 12px;
    border: 1px solid #BFC8D6;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}
input:focus{
    outline: none;
    border: 2px solid #002A6D;
}

.forgot-password{
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a{
    text-decoration: none;
    color: #002A6D;
    font-size: 0.95rem;
    font-weight: 600;
}

.forgot-password a:hover{
    text-decoration: underline;
}

.login-btn{
  background-color: #002A6D;
  color: #FFFFFF;
   width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;

}
.login-btn:hover{
  background-color: #011c48;
  transform: scale(1.05);
}
