body{
  margin: 0;
  padding: 0;
  background-color: #F5F9FF;
  font-family: Arial, sans-serif;
  color: #002A6D;
}

.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 40px 20px;
  background: linear-gradient(
        to bottom,
        #F5F9FF,
        #EAF4FF
    );

}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo img{
    width: 200px;
}

.logo h1{
    margin: 0;
    font-size: 3rem;
}

.info{
  display: flex;
  flex-direction: column;
     gap: 15px;
}
.info h2{
  margin: 0;
  font-size: 2rem;
}

.info p{
  margin: 0;
  max-width: 600px;
  line-height: 1.5;
}

.btns button{
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #002A6D;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
     transition: 0.3s;
     margin-top: 20px;
         background-color: #002A6D;
    color: white;
}
.btns button:hover{
  transform: scale(1.05);
}

.alerts{
    margin-top: 50px;
    padding: 40px 20px;
}

.alerts h2{
  text-align: center;
}


.alert-card{
border-radius: 10px;
background-color: #002A6D;
color: #EAF4FF;
text-align: center;
padding: 15px;
margin: 15px auto;
max-width: 300px;
}



.working{
    margin-top: 50px;
    padding: 40px 20px;
}

.working h2{
  text-align: center;
}


.step-card{
border-radius: 10px;
background-color: #002A6D;
color: #EAF4FF;
text-align: center;
padding: 15px;
margin: 15px auto;
max-width: 300px;
}
.volunteer{
  text-align: center;
  padding: 80px 20px;
}

.volunteer h2{
  font-size: 2rem;
}

.volunteer p{
  max-width: 500px;
  margin: 15px auto;
  line-height: 1.6;
}

.stats{
  text-align: center;
  padding: 40px 20px;
  margin-top: 10px;
}

.stats > p{
  margin-top: 10px;
  font-size: 1rem;
}

.stat-container{
  display : flex;
justify-content : center;
gap: 20px;
flex-wrap: wrap;

}

.stat-card{
  border-radius: 10px;
background-color: #002A6D;
color: #EAF4FF;
text-align: center;
padding: 15px;
min-width: 220px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.stat-number{
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10px;
}

footer{
  background-color: #002A6D;
  color: #EAF4FF;
  text-align: center;
  padding: 40px 20px;
}

footer h2{
    margin-bottom: 15px;
}

footer p{
  margin: 10px 0;
}